.root_login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;
}

.inputUsername {
    margin-top: 16px;
}

.inputPassword {
    margin-top: 16px;
}

.errorAlert {
    margin-top: 32px;
}

.buttonLogin {
    width: 100px;
    margin-top: 16px;
}

.title {
    margin-top: 16px;
}